@import 'tailwindcss';
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-block: #0b0e12;
  --color-dark: #06080c;
  --color-green: #43ad28;
  --color-red: #eb0237;
  --color-red-dark: #a01131;
  --color-orange: #eb6402;
}
@layer utilities {
  .shadow-earth {
    box-shadow: 0px -1px 5px 1px var(--shadow);
  }
}

/* Light theme variables */
[data-theme='light'] {
  --background: #ededed;
  --foreground: #000015;
  --shadow: #8a8a8b;
}

/* Dark theme variables */
[data-theme='dark'] {
  --background: #000015;
  --foreground: #ededed;
  --shadow: #8a8a8b;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

[data-theme='dark'] img:not([src*='.svg']) {
  filter: brightness(0.8) contrast(1.2);
}

[data-theme='dark'] img[src*='.svg'] {
  filter: invert(1);
}

/* Плавные переходы для всех элементов */
body {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
